<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-2  col-sm-6">
				<!-- header-top-first start -->
				<!-- ================ -->
				<div class="header-top-first clearfix">
					<ul class="social-links clearfix hidden-xs">
						<li class="twitter"><a target="_blank"
							href="http://www.cssmoban.com"><i class="fa fa-twitter"></i></a></li>
						<li class="skype"><a target="_blank"
							href="http://www.cssmoban.com"><i class="fa fa-skype"></i></a></li>
						<li class="linkedin"><a target="_blank"
							href="http://www.cssmoban.com"><i class="fa fa-linkedin"></i></a></li>
						<li class="googleplus"><a target="_blank"
							href="http://www.cssmoban.com"><i class="fa fa-google-plus"></i></a></li>
						<li class="youtube"><a target="_blank"
							href="http://www.cssmoban.com"><i class="fa fa-youtube-play"></i></a></li>
						<li class="flickr"><a target="_blank"
							href="http://www.cssmoban.com"><i class="fa fa-flickr"></i></a></li>
						<li class="facebook"><a target="_blank"
							href="http://www.cssmoban.com"><i class="fa fa-facebook"></i></a></li>
						<li class="pinterest"><a target="_blank"
							href="http://www.cssmoban.com"><i class="fa fa-pinterest"></i></a></li>
					</ul>
					<div class="social-links hidden-lg hidden-md hidden-sm">
						<div class="btn-group dropdown">
							<button type="button" class="btn dropdown-toggle"
								data-toggle="dropdown">
								<i class="fa fa-share-alt"></i>
							</button>
							<ul class="dropdown-menu dropdown-animation">
								<li class="twitter"><a target="_blank"
									href="http://www.cssmoban.com"><i class="fa fa-twitter"></i></a></li>
								<li class="skype"><a target="_blank"
									href="http://www.cssmoban.com"><i class="fa fa-skype"></i></a></li>
								<li class="linkedin"><a target="_blank"
									href="http://www.cssmoban.com"><i class="fa fa-linkedin"></i></a></li>
								<li class="googleplus"><a target="_blank"
									href="http://www.cssmoban.com"><i class="fa fa-google-plus"></i></a></li>
								<li class="youtube"><a target="_blank"
									href="http://www.cssmoban.com"><i
										class="fa fa-youtube-play"></i></a></li>
								<li class="flickr"><a target="_blank"
									href="http://www.cssmoban.com"><i class="fa fa-flickr"></i></a></li>
								<li class="facebook"><a target="_blank"
									href="http://www.cssmoban.com"><i class="fa fa-facebook"></i></a></li>
								<li class="pinterest"><a target="_blank"
									href="http://www.cssmoban.com"><i class="fa fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- header-top-first end -->

			</div>
			<div class="col-xs-10 col-sm-6">

				<!-- header-top-second start -->
				<!-- ================ -->
				<div id="header-top-second" class="clearfix">

					<!-- header top dropdowns start -->
					<!-- ================ -->
					<div class="header-top-dropdown">
						<div class="btn-group dropdown">
							<button type="button" class="btn dropdown-toggle"
								data-toggle="dropdown">
								<i class="fa fa-search"></i>搜索
							</button>
							<ul class="dropdown-menu dropdown-menu-right dropdown-animation">
								<li>
									<form role="search" class="search-box">
										<div class="form-group has-feedback">
											<input type="text" class="form-control" placeholder="Search">
											<i class="fa fa-search form-control-feedback"></i>
										</div>
									</form>
								</li>
							</ul>
						</div>
						
						#if($session.getAttribute("member"))
							<a href="member/index.htm">您好,$session.getAttribute("member")!欢迎来到ripple。</a>
						#else
							<div class="btn-group dropdown">
							<button type="button" class="btn dropdown-toggle"
								data-toggle="dropdown">
								<i class="fa fa-user"></i>登陆
							</button>
							<button type="button" class="btn dropdown-toggle"
								onclick="location.href='register.htm'">
								<i class="fa fa-user"></i>注册
							</button>
							<ul class="dropdown-menu dropdown-menu-right dropdown-animation">
								<li>
									<form class="login-form" action="loggingin.htm">
										<div class="form-group has-feedback">
											<label class="control-label">用户名</label> <input type="text"
												name="account" class="form-control" placeholder="">
											<i class="fa fa-user form-control-feedback"></i>
										</div>
										<div class="form-group has-feedback">
											<label class="control-label">密码</label> <input
												name="password" type="password" class="form-control"
												placeholder=""> <i
												class="fa fa-lock form-control-feedback"></i>
										</div>
										<div class="form-group has-feedback">
											<label class="control-label">验证码</label> <input
												name="validateCode" type="text" class="form-control"
												autocomplete="off" id="validateCode" /> <img
												src="/images/validateImage" width="60" height="20"
												border="0" id="imgVerify" />
										</div>
										<button type="submit" class="btn btn-group btn-dark btn-sm">登入</button>
										<span>or</span>
										<button type="button" onclick="location.href='register.htm'"
											class="btn btn-group btn-default btn-sm">注册</button>
										<ul>
											<li><a href="#">忘记密码?</a></li>
										</ul>
										<div class="divider"></div>
										<!-- 
													<span class="text-center">Login with</span>
													<ul class="social-links clearfix">
														<li class="facebook"><a target="_blank" href="http://www.cssmoban.com"><i class="fa fa-facebook"></i></a></li>
														<li class="twitter"><a target="_blank" href="http://www.cssmoban.com"><i class="fa fa-twitter"></i></a></li>
														<li class="googleplus"><a target="_blank" href="http://www.cssmoban.com"><i class="fa fa-google-plus"></i></a></li>
													</ul>
													 -->
									</form>
								</li>
							</ul>
						</div>
						#end
						<div class="btn-group dropdown">
							<button type="button" class="btn dropdown-toggle"
								data-toggle="dropdown">
								<i class="fa fa-shopping-cart"></i>购物车($!{cart.getCartNumber()})
							</button>
							<ul
								class="dropdown-menu dropdown-menu-right dropdown-animation cart">
								<li>
									<table class="table table-hover">
										<thead>
											<tr>
												<th class="quantity">数量</th>
												<th class="product">商品名</th>
												<th class="amount">小计</th>
											</tr>
										</thead>
										<tbody>
										#set($number=0)
      									#set($amount=0)
										#foreach($item in $session.getAttribute("orders").orderitems)
											<tr>
												<td class="quantity">$!{item.number}</td>
												<td class="product"><a href="goods.htm?gs=$!{item.goods.id}">$!{item.goods.name}</a>
														<span class="small">$!{item.goods.name}</span></td>
												<td class="amount">$!{item.subtotal}</td>
											</tr>
											#set($number=$number+1)
      										#set($amount=$amount+$item.subtotal)
										#end
											<tr>
												<td class="total-quantity" colspan="2">Total $!{cart.getCartNumber()} Items</td>
												<td class="total-amount">$!{cart.getCartAmount()}</td>
											</tr>
										</tbody>
									</table>
									<div class="panel-body text-right">
										<a href="my_scart.htm"
											class="btn btn-group btn-default btn-sm">查看购物车</a> <a
											href="shop-checkout.html"
											class="btn btn-group btn-default btn-sm">去付款</a>
									</div>
								</li>
							</ul>
						</div>

					</div>
					<!--  header top dropdowns end -->

				</div>
				<!-- header-top-second end -->

			</div>
		</div>
	</div>
</div>
<header class="header fixed clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-3">

				<!-- header-left start -->
				<!-- ================ -->
				<div class="header-left clearfix">

					<!-- logo -->
					<div class="logo">
						<a href="index.html"><img id="logo"
							src="/static/images/Home-box_03.jpg" alt="iDea"></a>
					</div>

					<!-- name-and-slogan -->
					<div class="site-slogan">一望无际的草原上🦅展翅高飞</div>

				</div>
				<!-- header-left end -->

			</div>
			<div class="col-md-9">

				<!-- header-right start -->
				<!-- ================ -->
				<div class="header-right clearfix">

					<!-- main-navigation start -->
					<!-- ================ -->
					<div class="main-navigation animated">

						<!-- navbar start -->
						<!-- ================ -->
						<nav class="navbar navbar-default" role="navigation">
							<div class="container-fluid">

								<!-- Toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle"
										data-toggle="collapse" data-target="#navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span> <span
											class="icon-bar"></span> <span class="icon-bar"></span> <span
											class="icon-bar"></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right">
										<li class="dropdown active"><a href="index.htm"
											class="dropdown-toggle" data-toggle="dropdown">首页</a>
											<ul class="dropdown-menu">
												<li><a href="music-home.vm">Home - Default</a></li>
												<li class="active"><a href="index-2.html">Home - 2</a></li>
												<li><a href="index-3.html">Home - 3</a></li>
												<li><a href="index-4.html">Home - 4</a></li>
												<li><a href="index-5.html">Home - 5</a></li>
												<li><a href="index-one-page.html">One Page Version</a></li>
												<li><a href="index-boxed-slideshow.html">Home -
														Boxed Slider</a></li>
												<li><a href="index-no-slideshow.html">Home -
														Without Slider</a></li>
											</ul></li>
										<!-- mega-menu start -->
										<li class="dropdown mega-menu"><a href="#"
											class="dropdown-toggle" data-toggle="dropdown">论坛</a>
											<ul class="dropdown-menu">
												<li>
													<div class="row">
														<div class="col-lg-4 col-md-3 hidden-sm">
															<h4>Premium HTML5 Template</h4>
															<p>iDea is perfectly suitable for corporate, business
																and company webpages.</p>
															<img src="/static/images/section-image-3.png" alt="iDea">
														</div>
														<div class="col-lg-8 col-md-9">
															<h4>Pages</h4>
															<div class="row">
																<div class="col-sm-4">
																	<div class="divider"></div>
																	<ul class="menu">
																		<li><a href="page-about.html"><i
																				class="icon-right-open"></i>About Us</a></li>
																		<li><a href="page-about-2.html"><i
																				class="icon-right-open"></i>About Us 2</a></li>
																		<li><a href="page-about-3.html"><i
																				class="icon-right-open"></i>About Us 3</a></li>
																		<li><a href="page-about-me.html"><i
																				class="icon-right-open"></i>About Me</a></li>
																		<li><a href="page-team.html"><i
																				class="icon-right-open"></i>Our Team - Options</a></li>
																		<li><a href="page-services.html"><i
																				class="icon-right-open"></i>Services</a></li>
																	</ul>
																</div>
																<div class="col-sm-4">
																	<div class="divider"></div>
																	<ul class="menu">
																		<li><a href="page-contact.html"><i
																				class="icon-right-open"></i>Contact</a></li>
																		<li><a href="page-contact-2.html"><i
																				class="icon-right-open"></i>Contact 2</a></li>
																		<li><a href="page-coming-soon.html"><i
																				class="icon-right-open"></i>Coming Soon Page</a></li>
																		<li><a href="page-404.html"><i
																				class="icon-right-open"></i>404 error</a></li>
																		<li><a href="page-faq.html"><i
																				class="icon-right-open"></i>FAQ page</a></li>
																		<li><a href="page-affix-sidebar.html"><i
																				class="icon-right-open"></i>Sidebar - Affix Menu</a></li>
																	</ul>
																</div>
																<div class="col-sm-4">
																	<div class="divider"></div>
																	<ul class="menu">
																		<li><a href="page-left-sidebar.html"><i
																				class="icon-right-open"></i>Left Sidebar</a></li>
																		<li><a href="page-right-sidebar.html"><i
																				class="icon-right-open"></i>Right Sidebar</a></li>
																		<li><a href="page-two-sidebars.html"><i
																				class="icon-right-open"></i>Two Sidebars</a></li>
																		<li><a href="page-no-sidebar.html"><i
																				class="icon-right-open"></i>No Sidebars</a></li>
																		<li><a href="page-sitemap.html"><i
																				class="icon-right-open"></i>Sitemap</a></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul></li>
										<!-- mega-menu end -->
										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown">游戏</a>
											<ul class="dropdown-menu">
												<li><a href="features-typography.html">Typography</a></li>
												<li class="dropdown"><a href="#"
													class="dropdown-toggle" data-toggle="dropdown">Pricing
														tables</a>
													<ul class="dropdown-menu">
														<li><a href="features-pricing-tables-1.html">Pricing
																Tables 1</a></li>
														<li><a href="features-pricing-tables-2.html">Pricing
																Tables 2</a></li>
														<li><a href="features-pricing-tables-3.html">Pricing
																Tables 3</a></li>
													</ul></li>
												<li><a href="features-backgrounds.html">Backgrounds</a></li>
												<li><a href="features-testimonials.html">Testimonials</a></li>
												<li class="dropdown"><a href="#"
													class="dropdown-toggle" data-toggle="dropdown">Icons</a>
													<ul class="dropdown-menu">
														<li><a href="features-icons-fontawesome.html">Font
																Awesome Icons</a></li>
														<li><a href="features-icons-fontello.html">Fontello
																Icons</a></li>
														<li><a href="features-icons-glyphicons.html">Glyphicons
																Icons</a></li>
													</ul></li>
												<li class="dropdown"><a href="#"
													class="dropdown-toggle" data-toggle="dropdown">Footer -
														Options</a>
													<ul class="dropdown-menu">
														<li><a href="features-footer-1.html#footer">Footer
																1 (Default)</a></li>
														<li><a href="features-footer-2.html#footer">Footer
																2</a></li>
														<li><a href="features-footer-3.html#footer">Footer
																3</a></li>
														<li><a href="features-footer-4.html#footer">Footer
																4</a></li>
													</ul></li>
												<li class="dropdown"><a href="#"
													class="dropdown-toggle" data-toggle="dropdown">Header -
														Options</a>
													<ul class="dropdown-menu">
														<li><a href="features-header-1.html">Header -
																Layout 1 (Default)</a></li>
														<li><a href="features-header-2.html">Header -
																Layout 2</a></li>
														<li><a href="features-header-3.html">Header -
																Layout 3</a></li>
													</ul></li>
												<li><a href="features-grid.html">Grid System</a></li>
											</ul></li>
										<!-- mega-menu start -->
										<li class="dropdown mega-menu"><a href="#"
											class="dropdown-toggle" data-toggle="dropdown">博客</a>
											<ul class="dropdown-menu">
												<li>
													<div class="row">
														<div class="col-sm-4 col-md-6">
															<h4>iDea - Powerful Bootstrap Theme</h4>
															<p>iDea is a Clean and Super Flexible Bootstrap Theme
																with many Features and Unlimited options.</p>
															<img src="/static/images/section-image-1.png" alt="image-1">
														</div>
														<div class="col-sm-8 col-md-6">
															<h4>Components</h4>
															<div class="row">
																<div class="col-sm-6">
																	<div class="divider"></div>
																	<ul class="menu">
																		<li><a href="components-tabs-and-pills.html"><i
																				class="icon-right-open"></i>Tabs &amp; Pills</a></li>
																		<li><a href="components-accordions.html"><i
																				class="icon-right-open"></i>Accordions</a></li>
																		<li><a href="components-social-icons.html"><i
																				class="icon-right-open"></i>Social Icons</a></li>
																		<li><a href="components-buttons.html"><i
																				class="icon-right-open"></i>Buttons</a></li>
																		<li><a href="components-forms.html"><i
																				class="icon-right-open"></i>Forms</a></li>
																		<li><a href="components-progress-bars.html"><i
																				class="icon-right-open"></i>Progress bars</a></li>
																		<li><a href="components-alerts-and-callouts.html"><i
																				class="icon-right-open"></i>Alerts &amp; Callouts</a></li>
																		<li><a href="components-content-sliders.html"><i
																				class="icon-right-open"></i>Content Sliders</a></li>
																	</ul>
																</div>
																<div class="col-sm-6">
																	<div class="divider"></div>
																	<ul class="menu">
																		<li><a href="components-lightbox.html"><i
																				class="icon-right-open"></i>Lightbox</a></li>
																		<li><a href="components-icon-boxes.html"><i
																				class="icon-right-open"></i>Icon Boxes</a></li>
																		<li><a href="components-image-boxes.html"><i
																				class="icon-right-open"></i>Image Boxes</a></li>
																		<li><a href="components-video-and-audio.html"><i
																				class="icon-right-open"></i>Video &amp; Audio</a></li>
																		<li><a href="components-modals.html"><i
																				class="icon-right-open"></i>Modals</a></li>
																		<li><a href="components-animations.html"><i
																				class="icon-right-open"></i>Animations</a></li>
																		<li><a href="components-counters.html"><i
																				class="icon-right-open"></i>Counters</a></li>
																		<li><a href="components-tables.html"><i
																				class="icon-right-open"></i>Tables</a></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul></li>
										<!-- mega-menu end -->
										<li class="dropdown"><a href="portfolio-3col.html"
											class="dropdown-toggle" data-toggle="dropdown">旅游</a>
											<ul class="dropdown-menu">
												<li class="dropdown"><a href="portfolio-3col.html"
													class="dropdown-toggle" data-toggle="dropdown">Portfolio
														- Style 1</a>
													<ul class="dropdown-menu">
														<li><a href="portfolio-2col.html">Portfolio - 2
																columns</a></li>
														<li><a href="portfolio-3col.html">Portfolio - 3
																columns</a></li>
														<li><a href="portfolio-4col.html">Portfolio - 4
																columns</a></li>
														<li><a href="portfolio-sidebar.html">Portfolio -
																With sidebar</a></li>
													</ul></li>
												<li class="dropdown"><a href="portfolio-3col-2.html"
													class="dropdown-toggle" data-toggle="dropdown">Portfolio
														- Style 2</a>
													<ul class="dropdown-menu">
														<li><a href="portfolio-2col-2.html">Portfolio - 2
																columns</a></li>
														<li><a href="portfolio-3col-2.html">Portfolio - 3
																columns</a></li>
														<li><a href="portfolio-4col-2.html">Portfolio - 4
																columns</a></li>
														<li><a href="portfolio-sidebar-2.html">Portfolio
																- With sidebar</a></li>
													</ul></li>
												<li class="dropdown"><a href="portfolio-3col-3.html"
													class="dropdown-toggle" data-toggle="dropdown">Portfolio
														- Style 3</a>
													<ul class="dropdown-menu">
														<li><a href="portfolio-2col-3.html">Portfolio - 2
																columns</a></li>
														<li><a href="portfolio-3col-3.html">Portfolio - 3
																columns</a></li>
														<li><a href="portfolio-4col-3.html">Portfolio - 4
																columns</a></li>
														<li><a href="portfolio-sidebar-3.html">Portfolio
																- With sidebar</a></li>
													</ul></li>
												<li><a href="portfolio-full.html">Portfolio - Full
														width</a></li>
												<li><a href="portfolio-item.html">Portfolio single</a></li>
												<li><a href="portfolio-item-2.html">Portfolio
														single 2</a></li>
												<li><a href="portfolio-item-3.html">Portfolio
														single 3</a></li>
											</ul></li>
										<li class="dropdown"><a href="shop-listing-3col.html"
											class="dropdown-toggle" data-toggle="dropdown">娱乐</a>
											<ul class="dropdown-menu">
												<li><a href="shop-listing-3col.html">Shop - 3
														Columns</a></li>
												<li><a href="shop-listing-4col.html">Shop - 4
														Columns</a></li>
												<li><a href="shop-listing-sidebar.html">Shop - With
														Sidebar</a></li>
												<li><a href="shop-product.html">Product</a></li>
												<li><a href="shop-cart.html">Shopping Cart</a></li>
												<li><a href="shop-checkout.html">Checkout Page -
														Step 1</a></li>
												<li><a href="shop-checkout-payment.html">Checkout
														Page - Step 2</a></li>
												<li><a href="shop-checkout-review.html">Checkout
														Page - Step 3</a></li>
											</ul></li>
										<li class="dropdown"><a href="blog-right-sidebar.html"
											class="dropdown-toggle" data-toggle="dropdown">购物</a>
											<ul class="dropdown-menu">
												<li><a href="browse.htm?c=2ffdf86fa01f44d9a5ee997a4cba6426">潮流服饰</a></li>
												<li><a href="browse.htm?c=87e9d2853d7b48f1a7867e3f87f44356">美容护肤</a></li>
												<li><a href="browse.htm?c=702742dcbf4b4467972e6c4ef46d6316">手机数码</a></li>
												<li><a href="browse.htm?c=833fb464077d4a77a2a4553212193f76">珠宝饰品</a></li>
												<li><a href="browse.htm?c=10ff85acdec645349dd6a52e3f0a58c8">食品保健</a></li>
												<li><a href="browse.htm?c=dc1a3f5f11e94de3a82dce52be404483">图书音像</a></li>
											</ul></li>
									</ul>
								</div>

							</div>
						</nav>
						<!-- navbar end -->

					</div>
					<!-- main-navigation end -->

				</div>
				<!-- header-right end -->

			</div>
		</div>
	</div>
</header>
<!-- header end -->